.calendar {

  $buttonBgLight: #325f8f;
  $buttonTextColor: #e5ebf1;

  &-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    background-color: $buttonBgLight;
    color: $buttonTextColor;

    > .item {
      display: flex;
      align-items: center;
      justify-content: center;
      
      margin: 0;
      padding: .5rem 1rem
    }
  }
  
  &-weeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &-day {
    height: 6rem;

    border: 1px solid gray;
    font-weight: bold;

    
    &.--weekend {
      background-color: $buttonTextColor;
      color: $buttonBgLight;
    }

    &.--disabled {
      color: lightgray;
    }
  }
}